div{
    width: 200px;
    height: 200px;
    border-bottom: 2px solid black;
    border-radius: 0 0 5px 5px;

    background-image: url(download.jpg);
    background-size: cover;
}

section{
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    transition: all;
}